
@media (max-width: 1440px) {
  .header__logo {
    margin-right: 20%;
  }
}

@media (max-width: 1200px) {

  main {
    padding: 0 50px;
  }

  /* header */

  .header {
    padding: 0 50px;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .burger {
    position: relative;
    display: block;
    margin-top: 38px;
    width: 30px;
    height: 23px;
    color: var(--color-black);
  }

  .burger-line {
    position: absolute;
    width: 30px;
    height: 3px;
    left: 50%;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger-line:nth-child(1) {
    top: 0;
  }

  .burger-line:nth-child(3) {
    bottom: 0;
  }

  .burger-line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .header__logo {
    margin: 0;
    padding-top: 26px;
  }

  .header__logo-img {
    width: 150px;
    height: 48px;
  }

  /* .header__nav {
    display: none;
  } */

  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    /* top: 0; */
    width: 50%;
    min-width: 420px;
    height: 100vh;
    z-index: 100;
    padding: 50px;
    background-color: #fff;
    border-radius: 0px 0px 24px 24px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s linear, transform 0.3s linear;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .burger--active {
    z-index: 200;
  }

  .burger--active .burger-line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger-line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s linear, left 0.3s linear, top 0.3s linear;
  }

  .burger--active .burger-line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s linear, left 0.3s linear, top 0.3s linear;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header__list {
    flex-direction: column;
  }

  .header__link {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }


  /* hero */

  .hero-container {
    min-height: 668px;
    margin-bottom: 36px;
    padding: 160px 77px 0 77px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  /* about */

  .about-container {
    margin-bottom: 80px;
  }

  .about__descr {
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
  }

  .about__bottom-container {
    flex-direction: column;
  }

  .about__left-container {
    width: 100%;
    min-height: 640px;
    margin-bottom: 30px;
  }

  .about__right-container {
    width: 100%;
    min-height: 622px;
  }

  .about__right-container-item {
    padding-left: 34.2%;
    background-position: 10.5% center;
  }
  .about__right-container-item:not(:last-child) {
    margin-bottom: 30px;
  }

  /* how */

  .how__container {
    margin-bottom: 82px;
  }

  .how__step {
    margin-bottom: 50px;
  }

  .how__left-container {
    padding-right: 0;
    margin-right: 50px;
  }

  .how__text {
    margin-bottom: 24px;
  }

  .how__btn-1 {
    margin-right: 28px;
  }

  /* faq */

  .faq-container {
    min-height: 675px;
    margin-bottom: 80px;
    justify-content: space-between;
  }

  .faq__title {
    font-size: 20px;
    padding-right: 18%;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 20px;
    padding-right: 18%;
  }

  .faq__item {
    padding: 35px 0;
  }

  /* footer */

  .footer-container {
    margin-top: 0;
    padding: 50px;
  }

  .footer__container-left {
    width: 28%;
    margin-right: 13.3%;
  }

  .footer__container-center {
    width: 58.7%;
    margin: 0;
  }

  .footer__container-right {
    display: none;
  }

  .footer__btn {
    padding: 19px 38px;
  }

  .footer__social-list {
    bottom: 0;
  }

  .footer__input,
  .footer__input-area {
    padding: 14px 24px;
  }
}

@media (max-width: 860px) {

  /* header */

  .header {
    height: 69px;
  }

  .burger {
    margin-top: 23px;
  }

  .header__logo {
    padding-top: 11px;
  }

  .header__item {
    padding-top: 23px;
  }

  .header__btn::after {
    top: 18px;
    left: -4px;
    width: 30px;
    height: 30px;
  }

  /* hero */

  .hero-container {
    min-height: 662px;
    border-radius: 25px;
    padding: 160px 40px 0 40px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
  }

  /* about */

  .about__descr {
    margin-bottom: 54px;
  }

  .about__left-container {
    min-height: 650px;
    margin-bottom: 32px;
    border-radius: 24px;
  }
  .about__left-container-bottom {
    min-height: 196px;
    border-radius: 24px;
    padding: 34px 40px;
  }

  .about__left-container-text {
    max-width: 366px;
  }

  .about__right-container {
    min-height: 502px;
  }

  .about__right-container-item {
    min-height: 235px;
    padding-top: 35px;
    padding-left: 169px;
    background-size: 114px 99px;
    background-position: 7% center;
    border-radius: 24px;
  }

  .about__title {
    width: 93%;
  }

  .about__text {
    width: 93%;
    margin-bottom: 35px;
  }

  /* how */

  .how__container {
    margin-bottom: 50px;
  }

  .how__header {
    margin-bottom: 48px;
  }

  .how__step-list {
    margin-bottom: 50px;
    justify-content: space-between;
  }

  .how__step {
    margin: 0;
  }

  /* .how__bottom-container {
    flex-direction: column-reverse;
  } */

  .how__bottom-container--active {
    flex-direction: column-reverse;
  }

  .how__left-container {
    width: 100%;
  }

  .how__right-container {
    width: 100%;
    min-height: 284px;
    margin-top: 0;
    margin-bottom: 38px;
    border-radius: 24px;
  }

  .how__text {
    margin-bottom: 25px;
  }

  /* faq */

  .faq-container {
    margin-bottom: 110px;
  }

  .faq__item {
    padding: 39px 0;
  }

  .faq__title {
    padding-right: 14%;
    line-height: 24px;
  }

  /* footer */

  .footer-container {
    min-height: 792px;
    padding-bottom: 46px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .footer__container-center {
    width: 81%;
   }

  .footer__list-links {
    display: none;
  }

  .footer__logo {
    width: 224px;
    height: 72px;
  }

  .footer__container-left {
    margin-right: 0;
    padding-bottom: 62px;
  }

}

@media (max-width: 522px) {

  body {
    background-color: #FFF;
  }

  main {
    padding: 0 15px;
  }

  /* header */

  .header {
    margin-bottom: 30px;
    padding: 0 15px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }

  .header__logo {
    padding-top: 17px;
  }

  .header__logo-img {
    width: 110px;
    height: 35px;
  }

  .header__item {
    padding-top: 22px;
  }

  .header__btn::after {
    top: 18px;
    left: -4px;
    width: 30px;
    height: 30px;
  }

  .search-form {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 24px 24px;
  }

  .search-form__input {
    width: 80%;
    font-size: 16px;
    line-height: 20px;
  }

  .search-form--show {
    top: 0;
  }

  /* hero */

  .hero-container {
    min-height: 308px;
    margin-bottom: 60px;
    padding: 60px 21px 0 21px;
    border-radius: 16px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__descr {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border-radius: 8px;
  }

  /* about */

  .about-container {
    margin-bottom: 23px;
  }

  .about__header {
    font-size: 24px;
    line-height: 29px;
  }

  .about__descr {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about__left-container {
    margin-bottom: 22px;
    border-radius: 16px;
    min-height: 410px;
    background-position: top center;
    background-size: 100% 200px;
  }

  .about__left-container-bottom {
    flex-direction: column;
    min-height: 140px;
    padding: 0;
    align-items: flex-start;
    border-radius: 0;
    background-color: #FFF;
  }

  .about__left-container-text {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    max-width: 290px;
    color: var(--color-black);
  }

  .about__btn {
    padding: 11px 42px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
    border: 2px solid #FF9900;
    border-radius: 8px;
  }

  .about__btn:focus {
    color: #FFF;
  }

  .about__btn:hover {
    color: #FFF;
  }

  .about__btn:active {
    color: #FFF;
  }

  .about__right-container-item {
     padding: 0;
    border: none;
    background-position: top left;
    background-size: 64px 49px;
  }

  .about__right-container-item:not(:last-child) {
    margin-bottom: 0px
  }

  .about__title {
    margin-bottom: 4px;
    padding-top: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .about__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
  }

  /* how */

  .how__container {
    margin-bottom: 60px;
  }

  .how__header {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .how__bottom-container--active {
    justify-content: flex-start;
  }

  .how__step-list {
    margin-bottom: 12px;
  }

  .how__step {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .how__step:not(:last-child) {
    margin-right: 0;
  }

  .how__right-container {
    margin-bottom: 18px;
    min-height: 160px;
    border-radius: 16px;
  }

  .how__left-container {
    margin-right: 0;
  }

  .how__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .how__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .how__btn-1 {
    margin-right: 8px;
    padding: 12px 43px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .how__btn-2 {
    padding: 11px 31px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  /* faq */

  .faq-container {
    margin-bottom: 60px;
  }

  .faq__header {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .faq__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__text {
    font-size: 14px;
    line-height: 28px;
  }

  .ui-accordion .ui-accordion-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__item {
    padding: 30px 0;
  }

  .faq__item svg {
    width: 30px;
    height: 30px;
    margin-top: -16px;
  }

  /* footer */

  .footer-container {
    min-height: 680px;
    padding: 33px 15px;
    align-items: center;
  }

  .footer__container-center {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #414141;
  }

  .footer__header {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .footer__input,
  .footer__input-area {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 32px;
  }

  .footer__input-area {
    margin-bottom: 25px;
  }

  .footer__bottom {
    flex-direction: column;
    /* border-bottom: 1px solid #414141; */
  }

  .footer__btn {
    margin-bottom: 14px;
    margin-right: 0;
    padding: 12px 28px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .footer__container-left {
    /* width: 100%; */
    width: auto;
    padding-bottom: 50px;
  }

  .footer__logo {
    width: 131px;
    height: 42px;
    margin-bottom: 13px;
  }

  .footer__social-item {
    margin-right: 0;
  }

  .footer__social-item:first-child {
    margin-right: 16px;
  }

  .footer__social-item svg {
    width: 40px;
    height: 40px;
  }
}
